
*{
    margin: 0px;
    padding: 0px;

}
.wrapper
{
    background-image:url(bg1.jpg);
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.navbar
{
    height:95px;
    width:100%;
    background:rgba(184, 177, 177,0.4);
    
}
img
{
    margin-left: 50px;
    margin-top:15px;
    height: 45px;
    width:75px;
}
.navbar ul
{
    float: right;
    margin-right:40px;

}
 .navbar ul li{
    list-style: none;
    margin:0px 30px;
    display:inline;

}
.navbar ul li a
{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.navbar ul li a:hover
{
    background: rgb(54, 54, 133);
    transition: 5s;
}
.center
{
    margin-top:150px;
    text-align: center;
    font-size:35px;
  color:white;
    user-select:none;
}
.center button
{
    width:160px;
    height: 60px;
    margin-top:45px;
    margin-right:25px;
    font-size:25px;
    background: rgb(54, 54, 133);
    cursor: pointer;
   border-radius: 25px;
   border:2px solid black;

}
.center button a:hover
{
 
    background: rgb(54, 54, 133);
    transition: 5s;
}